/*

Shacknews 2014 Fixes

Applies to: shacknews.com

Fixes misc. things on shack messages page.

*/

/* Shack Message Inbox, Sent, and Compose New Message buttons */
.message-button {font-family: 'Lato', sans-serif;
	font-size: 18px !important;
	font-style: italic;}
div#message_buttons {text-align: center;
	margin: 10px 0 10px 0;}

/* Shack Message Showing XX of YY and previous page link font fix */
.message-nav-bar div {font-family: 'Lato', sans-serif;
  	font-weight: 900 !important;
	font-style: italic;}

/* Shack Message Center pagination menu */
.message-nav-bar .navigate-column {text-align: center;}

/* Shack Message Move check/delete links more to the right */
.message-nav-bar .actions-column {float: right;}
